.ct,
.inputField {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.inputField h2 {
   font-size: 1.7rem;
   margin-bottom: 1rem;
}

.inputField form {
   background-color: var(--primary);
   border-radius: 20px;
   padding: 1rem;
   display: flex;
   gap: 1rem;
   width: 90dvh;
   justify-content: space-between;
}

.inputField button {
   background-color: var(--orange);
   padding: 0.25rem 0.8rem;
   font-size: 1.5rem;
   font-weight: 700;
   color: var(--primary-dark);
   border: none;
   border-radius: 10px;
   cursor: pointer;
}

.inputField input {
   background: transparent;
   border: none;
   border-bottom: var(--primary-dark) dashed 4px;
   width: 100%;
   outline: none;
   font-size: 1.1875rem;
}
