.ct {
   margin-top: 8rem;
}

.ct,
.inputField {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.inputField h2 {
   font-size: 1.7rem;
   margin-bottom: 2.5rem;
}

.inputField form {
   background-color: var(--primary);
   border-radius: 20px;
   padding: 1rem;
   display: flex;
   gap: 1rem;
   width: 90dvh;
   justify-content: space-between;
}

.inputField button {
   background-color: var(--orange);
   padding: 0.25rem 0.8rem;
   font-size: 1.5rem;
   font-weight: 700;
   color: var(--primary-dark);
   border: none;
   border-radius: 10px;
   cursor: pointer;
}

.inputField input {
   background: transparent;
   border: none;
   border-bottom: var(--primary-dark) dashed 4px;
   width: 100%;
   outline: none;
   font-size: 1.1875rem;
   transition: background 0.3s ease;
   padding-left: .65rem;
}

.inputField input:focus {
   background-color: var(--primary-dark);
   border-radius: inherit;
   color: white;
}
.inputField input:focus::placeholder {
   color: white;
}

.resetBtn {
   padding: 0.5rem;
   background-color: yellow;
   border: 1px solid black;
   border-radius: 8px;
   margin-top: -1rem;
   margin-bottom: 2rem;
   cursor: pointer;
   transition: scale 0.2s ease-out;
}

.resetBtn:hover {
   scale: 1.05;
}

@media screen and (max-width: 975px) {
   .inputField {
      width: 100%;
      text-align: center;
   }
   .inputField form {
      width: 100%;
   }

   .ct {
      margin-top: 8rem;
   }
}

@media screen and (max-width: 550px) {
   .inputField h2 {
      font-size: 1.5rem;
      margin-bottom: 2.5rem;
   }

   .ct {
      margin-top: 0rem;
   }
}

@media screen and (max-width: 390px) {
   .inputField h2 {
      font-size: 1.3rem;
      margin-bottom: 1.5rem;
   }

   .inputField input {
      font-size: 1rem;
   }

   .inputField button {
      font-size: 1.2rem;
   }
}
