.ct {
   text-align: center;
   margin-top: 4rem;
   margin-bottom: 2rem;
   justify-self: flex-end;
   display: flex;
   flex-direction: column;
   gap: 0.4rem;
}

.ct p {
   color: var(--primary);
}

.ct a {
   color: var(--orange);
   text-decoration: underline;
}
