.ct {
   text-align: center;
   margin-top: 4rem;
   margin-bottom: 2rem;
   justify-self: flex-end;
}

.ct p {
   color: var(--primary);
}

.ct a {
   color: var(--orange);
   text-decoration: underline;
}

