.ct {
   text-align: center;
   margin-top: 4rem;
   margin-bottom: 2rem;
   justify-self: flex-end;
   display: flex;
   flex-direction: column;
   gap: 0.4rem;
}

.ct p {
   color: var(--primary);
}

.ct a {
   color: var(--orange);
   text-decoration: underline;
}

.ct small {
   margin-top: 2rem;
   margin-bottom: 5px;
   color: var(--primary);
}

#greenhost {
   width: fit-content;
   margin-inline: auto;
}

#greenhost img {
   width: 160px;
}

@media screen and (max-width: 700px) {
   .ct small {
      margin-top: 1rem;
   }

   #greenhost {
      width: 150px;
      height: 65px;
   }
}
