.ct {
   text-align: center;
   margin-bottom: 3rem;
   cursor: pointer;
   transition: all 0.3s ease-out;
}

.ct img {
   width: 160px;
}

.ct:hover {
   scale: 1.05;
}

@media screen and (max-width: 975px) {
   .ct img {
      width: 100px;
   }
}

@media screen and (max-width: 425px) {
   .ct img {
      width: 80px;
   }
   .ct {
      margin-top: 2rem;
   }
}
