.chatsCt {
   display: flex;
   flex-direction: column;
   gap: 0.75rem;
   width: 100%;
   margin-bottom: 2.5rem;
}

.chatsCt ul {
   padding-left: 1rem;
   display: flex;
   flex-direction: column;
   gap: 0.2rem;
   margin-top: 0.2rem;
}

.chatsCt ul li a {
   color: #ffe9d5;
   text-decoration: underline;
}

.chatCard {
   align-self: flex-end;
   max-width: 600px;
   background-color: rgba(88, 154, 169, 0.535);
   border-radius: 20px 20px 0px 20px;
   padding: 2rem;
}

.chatCard.fromBot {
   align-self: flex-start;
   background-color: var(--primary);
   color: white;
   border-radius: 20px 20px 20px 0;
}

.chatCard h6 {
   font-size: 1.2rem;
   margin-bottom: 0.6rem;
   font-weight: 600;
}

.chatCard h6 span {
   color: #ffbd98;
   text-shadow: 0 0 1.3px black;
   margin-left: 2px;
}

.chatCard.error {
   color: red;
}

.loading {
   transition: all 0.1s;
   animation: load 0.4s alternate-reverse ease-out infinite;
   width: 70px;
}

@keyframes load {
   from {
      opacity: 0;
   }
   to {
      opacity: 1;
   }
}

@media screen and (max-width: 750px) {
   .loading {
      width: 50px;
   }
}

@media screen and (max-width: 420px) {
   .loading {
      width: 40px;
   }
}

@media screen and (max-width: 370px) {
   .chatCard {
      padding: 1rem;
   }
}
