.chatsCt {
   display: flex;
   flex-direction: column;
   gap: 0.75rem;
   width: 100%;
   margin-bottom: 2.5rem;
}

.chatCard {
   align-self: flex-end;
   max-width: 470px;
   background-color: rgba(88, 154, 169, 0.535);
   border-radius: 20px 20px 0px 20px;
   padding: 2rem;
}

.chatCard.fromBot {
   align-self: flex-start;
   background-color: var(--primary);
   color: white;
}
