/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

body {
   font-family: "Rubik", sans-serif;
   min-height: 100dvh;
   background-color: var(--bg-light);
   color: var(--primary-dark);
   padding-inline: var(--padding-global);
   max-width: var(--max-width-xl);
}
