* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

a {
   text-decoration: none;
}

img {
   max-width: 100%;
}

/* Global Settings */
:root {
   --bg-light: #f4f4f9;
   --orange: #ed7e3f;
   --primary-dark: #153740;
   --primary: #589aa9;
   --padding-global: 1.8125rem;
   --max-width-xl: 75rem;
}
