.ct h2 {
   font-size: 1.7rem;
   margin-bottom: 0.8rem;
}

.ct {
   text-align: left;
}

.ct section {
   margin-top: 2rem;
   font-size: 16px;
   line-height: 24px;
}

.ct ul {
   padding-left: 2rem;
}

@media screen and (max-width: 550px) {
   .ct h2 {
      font-size: 1.5rem;
   }

   .ct section {
      line-height: 22px;
   }
}
